@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff6fa;
  color: #7a3b52;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.9rem;
  }
}
